* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
body {
    background: #F6F4F3;
}
header{
    width: 100%;
    height: 90px;
    background-color: #888786;
}
.interior {
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}
.logo {
    float: left;
    padding: 5px 20px 0;
}
.logo img {
    height: 80px;
}
.logo img:hover{
    transform: scale(1.1);
}
.barraNavegacion{
    width: 85%;
    float: left;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
/*Barra de busqueda*/
i {
    color: #ffffff;
    cursor: pointer;
}
header .buscador {
    flex: 1;
    position:relative;
}
.buscador input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
}
.buscador button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: green;
}
/*Items de cada opcion*/
.barraNavegacion ul {
    list-style: none;
    padding: 0 10px;
}
.barraNavegacion ul li{
    display: inline-block;
    padding: relative;
    transition: .3s linear;
    z-index: 1000;
}
.barraNavegacion ul li:hover{
    transform: scale(1.1);
}
.barraNavegacion ul li a {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}
.barraNavegacion ul li a:hover{
    color: #AAA9E8;
    transform: scale(1.1);
}
.barraNavegacion ul li:hover .hijos{
    display: block;
}
.barraNavegacion .submenu .hijos {
    display: none;
    background: #888786;
    position: absolute;
    width: 100%;
}
.iconMenu a i{
    width: 50px;
    font-size: 50px;
    /*border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: #9191bd;
    border: solid thin #9191bd;
    transition: background-color 0.3 ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);*/
}
/*Maquetacion de la seccion principal*/
.main {
    background: red;
    width: 100%;
    height: calc(100vh - 90px);
    display: inline-flex;
}
.ladoIzquierdo {
    background: blue;
    margin: 0;
    height: 100%;
    width: 25%;
}
.imgPortada {
    height: 140px;
    width: 90px;
    margin: 30px;
}
.imgQuieroLeer{
    display: flex;
}
.imgLeer{
    height: 140px;
    width: 90px;
    margin: 5px;
}
.portadaActual{
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    width: 80%;
    margin: auto;
}
.ladoDerecho {
    background: #888786;
    height: 100%;
    width: 25%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.lineaCentral {
    background: #AAA9E8;
    height: 100%;
    width: 50%;
}
.footer {
    background: blueviolet;
    height: 100px;
}
.socialInteraction{
    list-style-type: none; 
    display: flex; 
    justify-content: space-between;
}
.socialInteraction li {
    border:1px;
    padding:5px 10px;
}
.recomendationCustom{
    display: inline-flex;
}
.rating-container input{
    display: none;
}

