* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #F6F4F3;
}
header iframe{
    width: 100%;
    height: auto;
}
main {
    display: flex;
}
img {
    height: 400px;
    width: 270px;
}
.ladoIzquierdo {
    margin-left: 90px;
    text-align: center;
}
.ladoDerecho {
    margin-left: 90px;
    margin-right: 90px;
}
.generos li {
    display: inline;
    margin-left: 10px;
}
.edicion div{
    margin-left: 10px;
    display: inline-block;
}
.edicion div p{
    margin-top: 15px;
}
.añadir {
    width: 200px;
    height: 80px;
    margin-top: 40px;
    border-radius: 40px;
}